<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305208798182-fa28d0j0q8rbm5blrucsi26d3dh71s0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305208798182-fa28d0j0q8rbm5blrucsi26d3dh71s0d</string>
	<key>API_KEY</key>
	<string>AIzaSyBXzo18mBYqAwAcKMAYUaHTM4LFWQFxxEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>305208798182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tracademicApp</string>
	<key>PROJECT_ID</key>
	<string>tracademic-a33ad</string>
	<key>STORAGE_BUCKET</key>
	<string>tracademic-a33ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305208798182:ios:f71e595a13cc4c77348427</string>
</dict>
</plist>